<div class="ui segment">
 <h3 style="text-align:center;">Chat</h3>
 <div class="ui list">
  <div class=”item”>
   <% @conversations.each do |conversation| %>
   <% if conversation.sender_id == current_player.id ||      conversation.recipient_id == current_player.id %>
    <% if conversation.sender_id == current_player.id %>
      <% recipient = Player.find(conversation.recipient_id) %>
    <% else %>
      <% recipient = Player.find(conversation.sender_id) %>
    <% end %>
    <li>
      <%= link_to recipient.name,   conversation_messages_path(conversation)%>
    </li>
   <% end %>
  <% end %>
  </div>
 </div>
</div>
<!-- <div class="ui segment">
 <h3>All Players</h3>
  <div class="ui list">
   <% @players.each do |player| %>
    <% if player.id != current_player.id %>
     <div class="item">
   <%= player.name %> || <%= player.team.name  %> || <%= link_to 'Send Message', conversations_path(sender_id: current_player.id, recipient_id: player.id), method: 'post'%>
 </div>
  <% end %>
 <% end %>
 </div>
</div> -->
<break><hr><break>
<table style="width: 50%;margin: 0 auto;">
  <thead>
      <tr class="info">
          <th>Name</th>
          <th>Team</th>

      </tr>
  </thead>
  <tbody class="table-striped">
      <% @players.each do |player| %>
      <% if player.id != current_player.id %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.team.name %></td>
            <td style="text-align:right;"> <%= link_to 'Send Message', conversations_path(sender_id: current_player.id, recipient_id: player.id), method: 'post'%> </td>
          </tr>
      <% end %>
      <% end %>
  </tbody>
</table>
