<div class="slider">
    <div index="0"><%= image_tag "IMG_8202.jpg" %></div>
    <div index="1"><%= image_tag "IMG_8185.jpg" %></div>
    <div index="2"><%= image_tag "IMG_8174.jpg" %></div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.slider').slick({
    dots: true,
    infinite: true,
    autoplay: true,
    autoplaySpeed: 3000,
    slidesToShow: 1,
    pauseOnHover: true,
    responsive: true,
    adaptiveHeight: true,
    speed: 750,
    fade: true,
    cssEase: 'linear',
    // onAfterChange: function(){
    //     //check the length of total items in .slide container
    //     //if that number is the same with the number of the last slide
    //     //Then pause the slider
    //     if( item_length == slider.slickCurrentSlide() ){
    //         //this should do the same thing -> slider.slickPause();
    //         slider.slickSetOption("autoplay",false,false)
    //     };
    // }
  });
});
</script>
<div class="container">
<h1 class="homeH1">FutsalMundial</h1>

<div>

</div>
<% if @current_player = true %>
<h2 class="homeH2">News</h2>
<p>
  FutsalMundial is a local competition designed to suit the needs of the players. For team registrations
  and general enquiries please Email: admin@futsalmundial.com.
</p>
<p>
  For lost property please call 0400 000 000 or inquire at the office during business hours.
</p>
<p>
  Please note: No jewellery is allowed to be worn on the field during games. All players
  must wear shin pads and socks. Failure to adhere to the above rules and/or acts of
  misconduct can result in a forfeit.
</p>
<% end %>
<h2 class="homeH2">General Info</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
  sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
  est laborum.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
  sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
  est laborum.
</p>

</div>
<div class="social">
        <%=link_to image_tag("fblogo.jpg"), "https://www.facebook.com/", :target => "_blank", :class => "img1"  %>
        <%=link_to image_tag("instalogo.jpg"), "https://www.instagram.com/", :target => "_blank", :class => "img2" %>
        <%=link_to image_tag("twitter.png"), "https://www.twitter.com/", :target => "_blank", :class => "img3" %>
    <p>© 2016 FutsalMundial Association</p>
    <a id="top_link" href="#top" style="bottom: 25px;"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
</div>
