<div class="wrap">

<h1>All Ages Mixed</h1>

<h4 id="xyzxyz">Winter Season 2016</h4>
<table class="table table-bordered" id="ladder" align="center">
  <tr class="warning">
    <td>Team</td>
    <td>Pts</td>
    <td>P</td>
    <td>W</td>
    <td>L</td>
    <td>D</td>
    <td>GF</td>
    <td>GA</td>
    <td>GD</td>
  </tr>
<% @teams.each do |team| %>
<% if team.competition === "All-Age Mixed"%>
  <tr>
    <td><%= link_to team.name, team_path(team.id), :class => "tname" %></td>
    <td><%= team.points %></td>
    <td><%= team.games.count %></td>
    <td><%= team.wins.count %></td>
    <td><%= team.losses.count %></td>
    <td><%= team.draws.count %></td>
    <td><%= team.goals[0].scored + team.goals[1].scored + team.goals[2].scored + team.goals[3].scored + team.goals[4].scored %></td>
    <td><%= team.goals[0].conceded  %></td>
    <td><%= (team.goals[0].scored + team.goals[1].scored + team.goals[2].scored + team.goals[3].scored + team.goals[4].scored) - team.goals[0].conceded.to_i %></td>

  </tr>
  <% end %>
  <% end %>
</table>

<h4 id="xyzxyz">Upcoming Draw</h4>
<table class="table table-bordered" id="draw" align="center">
  <tr>
    <td class="danger">13:20</td>
    <td class="success">Sunday, 10/10/10 </td>
    <td class="warning">Bayern vs Barca</td>
  </tr>
  <tr>
    <td class="danger">12:40</td>
    <td class="success">Sunday, 17/10/10</td>
    <td class="warning">Barca vs Bayern</td>
  </tr>
  <tr>
    <td class="danger">13:20</td>
    <td class="success">Sunday, 24/10/10</td>
    <td class="warning">Bayern vs Barca</td>
  </tr>
  <tr>
    <td class="danger">14:00</td>
    <td class="success">Sunday, 31/10/10</td>
    <td class="warning">Barca vs Bayern</td>
  </tr>
  <tr>
    <td class="danger">12:40</td>
    <td class="success">Sunday, 7/11/10</td>
    <td class="warning">Bayern vs Barca</td>
  </tr>
  <tr>
    <td class="danger">13:20</td>
    <td class="success">Sunday, 14/11/10</td>
    <td class="warning">Barca vs Bayern</td>
  </tr>
</table>

<p></p>
<%= link_to "Go Back", competition_path %>

</div>
