<div class="wrap">

<h1>All Ages Mixed</h1>

<table class="ladder" align="center">

  <tr>
    <td>Team</td>
    <td>Points</td>
    <td>Played</td>
    <td>Won</td>
    <td>Lost</td>
    <td>Drawn</td>
  </tr>
<% @teams.each do |team| %>
<% if team.competition === "All-Age Mixed"%>
  <tr>
    <td><%= link_to team.name, team_path(team.id) %></td>
    <td><%= team.points %></td>
    <td><%= team.games.count %></td>
    <td><%= team.wins.count %></td>
    <td><%= team.losses.count %></td>
    <td><%= team.draws.count %></td>
  </tr>
  <% end %>
  <% end %>
</table>

<h3>Draw</h3>
<table class="draw" align="center">
  <tr>
    <td>13:20</td>
    <td>Sunday, 10/10/10 </td>
    <td>Bayern vs Barca</td>
  </tr>
  <tr>
    <td>12:40</td>
    <td>Sunday, 17/10/10</td>
    <td>Barca vs Bayern</td>
  </tr>
  <tr>
    <td>13:20</td>
    <td>Sunday, 24/10/10</td>
    <td>Bayern vs Barca</td>
  </tr>
  <tr>
    <td>14:00</td>
    <td>Sunday, 31/10/10</td>
    <td>Barca vs Bayern</td>
  </tr>
  <tr>
    <td>12:40</td>
    <td>Sunday, 7/11/10</td>
    <td>Bayern vs Barca</td>
  </tr>
  <tr>
    <td>13:20</td>
    <td>Sunday, 14/11/10</td>
    <td>Barca vs Bayern</td>
  </tr>
</table>

<p></p>
<%= link_to "Go Back", competition_path %>

</div>
<div class="social">
        <%=link_to image_tag("fblogo.jpg"), "https://www.facebook.com/", :target => "_blank" %>
        <%=link_to image_tag("instalogo.jpg"), "https://www.instagram.com/", :target => "_blank" %>
        <%=link_to image_tag("twitter.png"), "https://www.twitter.com/", :target => "_blank" %>
    <p>Copyright © 2016 NSWhales Futsal Association</p>
</div>
