<div class="wrap">

<p>

</p>

<h2>Current Competitions</h2>

<div class="comps">
  <li>
  <%= link_to "All-Ages Mens", aamen_path %>
  </li>
  <li>
  <%= link_to "All-Ages Mixed", aamix_path %>
  </li>
  <li>
  <%= link_to "U-18s Mens", u18men_path %>
  </li>
  <li>
  <%= link_to "U-18s Womens", u18women_path %>
  </li>
</div>

<h2>Info</h2>
<div class="main">
<p>
  The upcoming season will be starting from the 6th of May and will run for a period
  of 10weeks excluding semis/finals. Register your team now in the competition you would
  like to join.
</p>
<p>
    Each of the above competitions are divided into two divisions and teams will be
    adjusted to fit into the said divisions after the trial matches in the week before
    the start of the official season.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
  culpa qui officia deserunt mollit anim id est laborum.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
  culpa qui officia deserunt mollit anim id est laborum.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
  culpa qui officia deserunt mollit anim id est laborum.
</p>
</div>
</div>
<div class="social">
        <%=link_to image_tag("fblogo.jpg"), "https://www.facebook.com/", :target => "_blank" %>
        <%=link_to image_tag("instalogo.jpg"), "https://www.instagram.com/", :target => "_blank" %>
        <%=link_to image_tag("twitter.png"), "https://www.twitter.com/", :target => "_blank" %>
    <p>Copyright © 2016 FutsalMundial Association</p>
</div>
