
  <div class="row" id="pic_show">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel heading pic_image">
      <h2><% unless @player.avatar_url.nil? %><%= image_tag @player.avatar_url(:display) %><% end %></h2>
      </div>
      <div class="panel-body">

<p id="notice"><%= notice %></p>
  <h1><%= @player.name %></h1>
  <break>
  <p>Email: <%= @player.email %></p>
  <p>Team: <%= link_to @player.team.name, team_path(@player.team.id) %></p>
  <p>DOB: <%= @player.dob %></p>
  <p>Joined: <%= @player.created_at %></p>
  <% if @player.id == current_player.id %>
  <%= link_to 'Edit' , edit_player_path(@player)  %>  |
  <%= link_to 'Back', root_path %>
  <% end %>
  <break>
    <hr>
    <break>
      <h2>Player Stats</h2>

        <% if @player.goals[0].conceded == "N/A" %>
        <table class="table table-bordered" style="margin: 0 auto;">
        <tr class="info">
          <td>Played </td>
          <td>Goals </td>
          <td>Assists </td>
        <tr>
          <tr class="success">
            <td><%= @player.team.games.count %></td>
            <td><%= @player.goals[0].scored %></td>
            <td><%= @player.goals[0].assists %></td>
          </tr>
        </table>
        <% else @player.goals[0].conceded %>
        <table class="table table-bordered" style="margin: 0 auto;">
        <tr class="info">
          <td>Played </td>
          <td>Conceded </td>
          <td>Goals </td>
          <td>Assists </td>
        <tr>
          <tr class="success">
            <td><%= @player.team.games.count %></td>
            <td><%= @player.goals[0].conceded %></td>
            <td><%= @player.goals[0].scored %></td>
            <td><%= @player.goals[0].assists %></td>
          </tr>
        <% end %>
      </table>

<break>

</div>
</div>
</div>
</div>
