<nav class="navbar navbar-default" id="mainNav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">FutsalMundial</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %><span class="sr-only">(current)</span></li>
        <% if logged_in? %>
        <li class="dropdown">
          <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Competitions <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><%= link_to "U-18 Mens", u18men_path %></li>
            <li><%= link_to "U-18 Womens", u18women_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "All-Ages Mens", aamen_path %></li>
            <li><%= link_to "All-Ages Mixed", aamix_path %></li>
          </ul>
          <li><%= link_to "Highlights", highlight_path %></li>
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "Forum", posts_path %></li>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li id="username"><%= current_player.name %></li>
          <li> <%= link_to "Log Out", root_path, method: :delete %> </li>
          <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Profile", player_path(current_player.id) %></li>
                      <li><%= link_to "Edit Profile", edit_player_path %></li>
                      <li role="separator" class="divider"></li>
                      <li><%= link_to "FIFA Rules", "http://www.fifa.com/mm/document/footballdevelopment/refereeing/51/44/50/lawsofthegamefutsal2014_15_eneu_neutral.pdf", :target => "_blank" %></li>
                    </ul>
            </li>
        <% else %>
          <li> <%= link_to "Log In", login_path %>  </li>
          <li> <%= link_to "Sign up", signup_path %>  </li>

        <%end  %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
